header
	.contact
		.link-contact
			a.ct-icon(href="#")
				img.svg(src="./assets/images/facebook-logo.svg", alt="")
	.container
		.logo
			figure
				img(src="./assets/images/logo.png", alt="")
		.nav-list
			.nav-item.active
				a(href="#") Home
			.nav-item
				a(href="#") About
			.nav-item
				a(href="#") Shop
			.nav-item
				a(href="#") Blog
			.nav-item
				a(href="#") Contact
			.nav-item.btn-pro
				a(href="#") Promotions
			.nav-item
				a.cart-icons(href="#")
					img.svg(src="./assets/images/cart.svg", alt="cart")
					span 2
		