@font-face {
	font-family: Roboto;
	src        : url("../fonts/Roboto.ttf");
}

@font-face {
	font-family: OBold;
	src        : url("../fonts/Oswald-Bold.ttf");
}

@font-face {
	font-family: OExtraLight;
	src        : url("../fonts/Oswald-ExtraLight.ttf");
}

@font-face {
	font-family: OLight;
	src        : url("../fonts/Oswald-Light.ttf");
}

@font-face {
	font-family: OMedium;
	src        : url("../fonts/Oswald-Medium.ttf");
}

@font-face {
	font-family: ORegular;
	src        : url("../fonts/Oswald-Regular.ttf");
}

@font-face {
	font-family: OSemiBold;
	src        : url("../fonts/Oswald-SemiBold.ttf");
}